body {
    background-color: white;
    margin: auto;
    font-family: 'Archivo Black', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    clear: both;
}

#nav-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    color: black;
    background-color: white;
}

.nav_btn {
    margin-top: 20px;
}

.logoType {
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    margin-top: 5px;
    font-size: 60px;
    color: #00ace6;
}

.body {
    position: fixed;
    width: 100%;
    z-index: 50;
    text-align: center;
}

.btn1 {
    margin-top: 100px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 20px white;
}

a {
    cursor: pointer;
}

/* /// userpage //////////////////////////////////////////////////////// */

.background-image-eventpage {
    background-image: url("img/new_basketball.jpg");
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    width: 100%;
    z-index: -50;
    /* opacity: .75; */
}

.user-input {
    margin-top: 150px;
}

.eventNavBtn {
    margin-top: 100px;
    float: left;
    margin-right: 15px;
}