<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="logo">
                    <a class="btn1" id="hypSignUpBtn">
                        <strong>SIGN UP</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logIn" role="dialog">

    <div class="row">
        <div class='container'>
            <div class="col-md-12">
                <div id="msg-center" class="alert">
                </div>
            </div>
        </div>
    </div>


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:15px 30px">
                <h4 class="modalHeading">
                    <span class="glyphicon glyphicon-lock"></span>
                    <strong> Login</strong>
                </h4>
            </div>

            <div class="modal-body" style="padding:40px 30px;">
                <div role="form">
                    <div class="form-group" id="divLoginUserName">
                        <label for="loginusername" id="lblLoginUserName">
                            <span class="glyphicon glyphicon-user"></span> Username</label>
                        <input type="text" class="form-control" id="txtLoginUserName" placeholder="Enter User Name">
                    </div>
                    <div class="form-group" id="divLoginPwd">
                        <label for="loginpwd" id="lblLoginPwd">
                            <span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" class="form-control" id="pwdLoginPwd" placeholder="Enter Password">
                    </div>

                    <button type="submit" class="btn btn-success btn-block" id="cmdsubmitLogin">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <strong> Login</strong>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-default pull-left" id="cmdsubmitCancel" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> Cancel</button>
                <p>Not a member?
                    <a id='hypSignUp' href="#">Sign Up</a>
                </p>
                <p>Forgot
                    <a href="#">Password?</a>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="background-image-homepage">
</div>

<script>
</script>